# Importing libraries and datasets

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Dan\Desktop\Career Foundry\Instacart Basket Analysis'

In [3]:
df_or_pr_co = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'or_pr_co.pkl'))

In [4]:
df_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'prods_reduced.pkl'))

In [5]:
# checking datasets

In [6]:
df_or_pr_co . info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
 9   _merge                 category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 958.9 MB

In [7]:
df_prods . info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(1), int8(2), object(1)
memory usage: 776.2+ KB

In [8]:
# attempting to merger datasets

In [11]:
df_or_pr_co.drop(columns = {'_merge'}, inplace = True)

In [12]:
df_or_pr_co . info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
dtypes: float16(1), int32(4), int8(4)
memory usage: 928.0 MB

In [13]:
df_merged = df_or_pr_co.merge(df_prods, on = 'product_id', indicator = True)

# Q 6 inspecting merge

In [14]:
df_merged . head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
df_merged . shape

(32404859, 14)

In [17]:
df_merged. info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
 9   product_name           object
 10  aisle_id               int8
 11  department_id          int8
 12  prices                 float16
 13  _merge                 category
dtypes: category(1), float16(2), int32(4), int8(6), object(1)
memory usage: 1.3+ GB

In [18]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Q7

In [20]:
# Step 7. Export the newly created dataframe as orders_products_merged in a suitable format:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))