# Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Dan\Desktop\Career Foundry\Instacart Basket Analysis'

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [9]:
#checking dataframes
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.shape

(3421083, 9)

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [1]:
# I performed this merge and completed this prep exercise but ran into problems merging datasets in the next notebook, this caused my laptop to keep freezing for up to an hour at a time, required a network reset as my laptop stopped connecting to any wifi etc and when i opened this notebook today to check the prep exercise i believe some has gone missing and it is showing this merge as imcomplete but you can see in my folders it was and i have combined it with other datasets in the follwing notebooks